spring:
    application:
      name: pricing-service
    datasource:
      url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:54602}/pricingdb
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:postgres}
    jpa:
      properties:
        hibernate:
          hbm2dll.auto: validate
          format_sql: true
          show-sql: true
          highlight_sql: true
      
server:
  address: 0.0.0.0
  port: 8083