spring:
    application:
      name: payment-service
    datasource:
      url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:54602}/paymentdb
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:postgres}
    jpa:
      properties:
        hibernate:
          hbm2dll.auto: validate
          format_sql: true
          show-sql: true
          highlight_sql: true

service:
  inventory-service:
    base-url: ${INVENTORY_SERVICE_BASE_URL:http://localhost:8082}
  reservation-service:
    base-url: ${RESERVATION_SERVICE_BASE_URL:http://localhost:8085}

server:
  address: 0.0.0.0
  port: 8086  

razorpay:
  key-id: ${RAZORPAY_KEY_ID}
  key-secret: ${RAZORPAY_KEY_SECRET}



