spring:
    application:
      name: reservation-service
    datasource:
      url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:54602}/$reservationdb
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:postgres}
    jpa:
      properties:
        hibernate:
          hbm2dll.auto: validate
          format_sql: true
          show-sql: true
          highlight_sql: true

server:
  port: 8085

resilience4j:
  retry:
    instances:
      createInventoryHoldRetry:
        max-attempts: 3             # 1 original + 2 retries
        wait-duration: 500ms
        enable-exponential-backoff: true
        exponential-backof-multiplier: 2
        randomization-factor: 0.2
        retry-exceptions:
          - com.nivara.reservation_service.exception.RemoteServerException
        ignore-exceptions:
          - com.nivara.reservation_service.exception.InventoryUnavailableException


